@font-face{font-family:'AquilineTwo';src:url('../Fonts/AquilineTwo.ttf');}
@font-face{font-family:'Nunito-Light';src:url('../Fonts/Nunito-Light.ttf');}
@font-face{font-family:'Nunito-Regular';src:url('../Fonts/Nunito-Regular.ttf');}
@font-face{font-family:'FjallaOne-Regular';src:url('../Fonts/FjallaOne-Regular.ttf');}
@font-face{font-family:'Oswald-Light';src:url('../Fonts/Oswald-Light.ttf');}

#copyright p{font:normal 15px Nunito-Light;color:#BDBDBD}
#copyright p a{color:#FFB676}
#copyright p a:hover{color:#AB3A3A}
*{margin:0;padding:0}
body{font:.74em Nunito-Regular;background:url(../Images/Body.gif) repeat;color:#BDBDBD}
p{font:normal 17px Nunito-Light;color:#dfdfdf;line-height:1.6em;margin:0 0 15px}
h1{font:normal 3.4em Arial}
h2{font:normal 1.8em Nunito-Light;color:#dfdfdf;margin:0 0 15px}
h3{font:normal 1.4em Arial;margin:0 0 20px}
h4{font:normal 1.2em Arial;color:#dfdfdf;margin:0 0 4px}
a{outline:0;color:#73CDEB;text-decoration:none}
a:hover{color:#AB3A3A}
#surface1 a,#surface2 a{color:#A41F1F}
#surface1 a:hover,#surface2 a:hover{color:#F9B815}
li{list-style:none}
#listing ol{counter-reset:item}
#listing li{display:block;font:normal 17px Nunito-Light;color:#dfdfdf;line-height:1.6em;list-style:none;margin:0 10px}
#listing li:before{content:counter(item) ". ";counter-increment:item;color:#FFB676}
img{outline:0;border:0}
#wrapper{width:1100px;margin:0px}
#wrapper1{width:1000px;margin:0px}
#logo{float:left;padding:30px 15px}
.clr{clear:both}
.content{background:url(../Images/Content.gif) repeat;padding:20px}
#menu{height:44px;padding:5px 0 0 100px}
#menu li{float:left;font-size:30px}
#menu li a{color:#888;margin:0 30px 0 0;padding:10px}
#menu li a.current{color:#fff;background-color:#750000}
#menu li a:hover{background-color:#750000;color:#fff;padding:10px}

#surface1,#surface2{background:#e9eaee;border:2px solid #fff;border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;text-align:left;box-shadow:1px 2px 6px rgba(0,0,0,0.5);-moz-box-shadow:1px 2px 6px rgba(0,0,0,0.5);-webkit-box-shadow:1px 2px 6px rgba(0,0,0,0.5);margin:0 auto;padding:15px}
#surface1{width:1000px;}
#surface2{width:1000px;}

.button1,.button1 a{background:url(../Images/Email_Icon.png) 0 -70px;height:70px;width:100px;display:block}
.button2,.button2 a{background:url(../Images/Animate_Start.png) 0 -50px;height:50px;width:100px;display:block}
.button3,.button3 a{background:url(../Images/Animate_Stop.png) 0 -50px;height:50px;width:100px;display:block}
.button1 a,.button2 a,.button3 a{background-position:0 0}

.ic_container{vertical-align:baseline;position:relative;margin:10px;margin-bottom:60px}
.overlay{opacity:0.3;position:absolute;top:0;bottom:0;left:0;right:0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50)}
.ic_caption{position:absolute;opacity:0.6;overflow:hidden;left:0;right:0;cursor:default;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);margin:0;padding:0}
.ic_category{text-transform:uppercase;font-size:12px;font-weight:700;color:#f0f0f0;letter-spacing:3px;margin:0;padding:5px}
.ic_caption h3{font-size:18px;margin:0;padding:0 5px 5px}
.ic_text{text-align:left;font-size:14px;margin:0;padding:5px}

@keyframes caret{50%{opacity:0.1;transform:scaleY(.8);}}
@-webkit-keyframes caret{50%{opacity:0.1;-webkit-transform:scaleY(.8);}}
.fancyInput{max-width:95%;min-width:95%;font-family:FjallaOne-Regular;font-size:20px;color:#FFF;vertical-align:middle;line-height:1.3;overflow:hidden;text-align:left;box-shadow:0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1);background:rgba(0,0,0,.1);border-radius:10px;display:inline-block;letter-spacing:-1px;text-shadow:0 2px 5px rgba(0,0,0,.6);white-space:nowrap;width:auto;position:relative;padding:8px 20px}
.fancyInput input{color:transparent;position:absolute;z-index:2;width:100%;border:0;outline:0;top:0;left:0;background:none;font-family:FjallaOne-Regular, sans-serif;font-size:inherit;letter-spacing:-1px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:inherit inherit 0}
.fancyInput input{top:1px;left:-1px;padding-right:0}
.fancyInput > div{display:inline-block}
.fancyInput.textarea > div{width:99.9%}
.fancyInput :focus ~ .caret,.fancyInput :focus ~ div .caret{opacity:.8;box-shadow:0 0 1px #FFF;-webkit-animation:.4s 40ms caret infinite;animation:.4s 40ms caret infinite}
.fancyInput .caret{font-weight:400;opacity:0;display:inline-block;width:1px;margin-left:-3px;background:#FFF;border-radius:4px;-moz-user-select:none}
.fancyInput span:not(.deleted) ~ .caret{position:absolute;margin:0}
.fancyInput > div span{-webkit-transition:100ms cubic-bezier(0.08,0.6,0.56,1.4);transition:100ms cubic-bezier(0.08,0.6,0.56,1.4);display:inline-block;position:relative}
.fancyInput > input[type=password] + div span:empty::after{content:'â—';display:inline}
.fancyInput > div .deleted{opacity:0;-webkit-transition:140ms;transition:140ms;-webkit-transform:translateX(12px);transform:translateX(12px)}
.fancyInput > div span.state1{-webkit-transform:translateY(-25px) rotateX(90deg);transform:translateY(-25px) rotateX(90deg)}
.fancyInput > div span.state2{-webkit-transform:translateY(25px) rotateX(90deg);transform:translateY(25px) rotateX(90deg)}
.fancyInput :-moz-placeholder,.fancyInput :-webkit-placeholder{color:rgba(255,255,255,0.2)}

svg{background:#000;font:15px 'Open Sans'}
path{stroke:#4682B4;stroke-width:2;fill:none}
.axis{shape-rendering:crispEdges;fill:#FFF}
.title{font:100 20px 'Open Sans';fill:orange}
.title2{font:100 15px 'Open Sans';fill:#FFF}
.grid .tick{stroke:grey;opacity:0.1}
.grid path{stroke-width:0}
#density-range,#dispersion-range,#redshift-range,#plot-range,#z_power,#clump_norm,#HI_power,#zquasar-range{float:left;clear:left;width:200px;margin:15px}
.x.axis line,.x.axis path,.y.axis line,.y.axis path{fill:none;stroke:#FFF}
#density-range .ui-slider-range,#z_power .ui-slider-range{background:#ef2929}
#density-range .ui-slider-handle,#z_power .ui-slider-handle{border-color:#ef2929}
#dispersion-range .ui-slider-range,#clump_norm .ui-slider-range{background:#8ae234}
#dispersion-range .ui-slider-handle,#clump_norm .ui-slider-handle{border-color:#8ae234}
#plot-range .ui-slider-range,#HI_power .ui-slider-range{background:#729fcf}
#plot-range .ui-slider-handle,#HI_power .ui-slider-handle{border-color:#729fcf}

.jquery-checkbox{display:inline;font-size:20px;line-height:20px;cursor:hand}
.jquery-checkbox .mark{display:inline}
.jquery-checkbox img{vertical-align:middle;width:60px;height:20px;background:transparent url(../Images/Checkbox.png) no-repeat;background-position:0 0}
.jquery-checkbox-hover img{background-position:0 -20px}
.jquery-checkbox-checked img{background-position:0 -40px}
.jquery-checkbox-checked .jquery-checkbox-hover img{background-position:0 -60px}
.jquery-checkbox-disabled img{background-position:0 -80px}
.jquery-checkbox-checked .jquery-checkbox-disabled img{background-position:0 -100px}
.jquery-safari-checkbox{display:inline;font-size:16px;line-height:16px;cursor:hand}
.jquery-safari-checkbox .mark{display:inline}
.jquery-safari-checkbox img{vertical-align:middle;width:16px;height:16px;background:transparent url(../Images/Checkbox_Safari.png) no-repeat;background-position:0 0}
.jquery-safari-checkbox-hover img{background-position:-16px 0}
.jquery-safari-checkbox-checked img{background-position:0 -16px}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-hover img{background-position:-16px -16px}
.jquery-safari-checkbox-disabled img{background-position:0 -32px}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-disabled img{background-position:0 -48px}

html body ul.sf-menu ul,html body ul.sf-menu ul li{width:180px}
html body ul.sf-menu ul ul{margin:0 0 0 180px}
ul.sf-menu,ul.sf-menu *{margin:0;padding:0}
ul.sf-menu li{display:block;list-style:none;float:left;position:relative}
ul.sf-menu li:hover{visibility:inherit}
ul.sf-menu ul{position:absolute;width:150px;top:auto;left:-999999px}
ul.sf-menu ul a{zoom:1}
ul.sf-menu ul li{float:left;width:150px}
ul.sf-menu ul ul{top:0;margin:0 0 0 150px}
span.sf-arrow{width:7px;height:7px;position:absolute;top:8px;right:0;display:block;background:url(../Images/arrows-black.png) no-repeat 0 0;overflow:hidden;font-size:1px}
ul ul span.sf-arrow{right:12px;top:7px;background-position:0 100%}
ul.sf-menu,ul.sf-menu a{display:block;position:relative}
ul.sf-menu li:hover>ul,ul.sf-menu li:focus>ul,ul.sf-menu li.sf-hover>ul{left:auto;display:block}
ul.sf-menu li:hover>ul ul,ul.sf-menu li:focus>ul ul,ul.sf-menu li.sf-hover>ul ul{left:-999999px;display:none}
ul.sf-menu ul li:hover>ul,ul.sf-menu ul li:focus>ul{left:auto;display:block}
html body ul#nav ul,html body ul#nav ul li{width:200px}
html body ul#nav ul ul{margin:0 0 0 200px}
ul#nav{float:left;font-size:120%;border:solid #aeff5e;border-width:0 5px}
ul#nav ul{border-bottom:5px solid #aeff5e;background:#222}
ul#nav li a{font-family:"Lucida Sans","Century Gothic","Franklin Gothic Book","Franklin Gothic",helvetica,arial,verdana,sans;text-decoration:none;background:#222;color:#fff;padding:20px 30px}
ul#nav ul li a{padding:10px 15px}
ul#nav li a:hover,ul#nav li a:focus{color:#aeff5e}
ul#nav span.sf-arrow{top:28px;right:6px;background-image:url(../Images/Sooperfish_Arrow.png)}
ul#nav ul span.sf-arrow{right:12px;top:16px}

.fisheye{text-align:center;height:50px;position:relative}
a.fisheyeItem{text-align:center;color:#000;font-weight:700;text-decoration:none;width:40px;position:absolute;display:block;top:0}
.fisheyeItem img{border:none;width:100%;margin:0 auto 5px}
.fisheyeItem span,{display:none;positon:absolute}
.fisheyeContainter{background-color:none;height:50px;width:200px;left:500px;position:absolute}